@{
    ViewBag.Title = "Product price";
}

<h2>Enter a name of product</h2>
<form method="post" asp-controller="Product" asp-action="ProductPrice">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label"></label>
        <input type="text" name="productName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="View price" class="btn btn-outline-primary" />
    </div>
</form>

<h3>@ViewBag.ProductName</h3>
<h3>Price is: @ViewBag.Price</h3>
